.navegacao ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navegacao ul li {
    flex-grow: 1;
    padding: 0 1px;
}
body {
    font-size: 38px;
    font-family: Georgia;
    background-color: rgb(58, 58, 58);
}
.red {
    color: rgb(255, 255, 255);
}
.Inicio {
padding: 120px;
font-size: 28px;
font-family: Georgia;
color: rgb(75, 255, 105);

}

.Sobre {
    padding: 20px 526px;
    font-size: 28px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.ti {
    font-size: 35px;

}
.pa {
    padding: 60px 50px;
    font-size: 22px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.pas {
    padding: 15px 50px;
    font-size: 22px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.t {
    padding: 20px 595px;
    font-size: 20px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.p {
    padding: 6px 50px;
    font-size: 22px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.lin {
    padding: 130px 50px;
    font-size: 22px;
    font-family: Georgia;
    color: rgb(75, 255, 105);
}
.link {
    color: rgb(98, 0, 255);
}